/* -----------------------Global ----------------------- */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

/* ---------------------------- Estilos --------------------- */
ul {
    padding-left: 30px;
}

h2,
h3 {
    margin: 20px 0;
}



/* -----------------------Navegação ----------------------- */


header {
    position: sticky;
    /* Lembrar que nao pode usar o fixed, pois ele passa a ignorar o fluxo do site. Parecia bobeira mas um desse fixed fez todo o programa bugar */
    top: 0;
    width: 100%;
    margin: 0;
    max-height: fit-content;

    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #222;
    color: #fff;
    flex-wrap: wrap;
    margin-bottom: 0;


}

.nav-brand {
    display: flex;
    flex-direction: column;
}

.nav-brand h1 {
    font-size: 1.8rem;
    margin: 0;
    font-weight: bold;
    color: #f0a500;

}

.nav-brand p {
    font-size: 1rem;
    margin: 0;
    color: #ddd;
    white-space: normal;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    max-width: 400px;
    height: 60px;
    max-height: 60px;
    width: 100%;


    list-style: none;
}

.nav-links li, .nav-links a {
    flex: 1; /* all items get equal width */
    text-align: center;
}
.nav-links li a {
    text-decoration: none;
    font-family: 'gerogia';
    color: #fff;
    transition: color 0.3s;
    font-size: 20px;
}



/* -------------Trabalhando com a imagem do meu profile e seu botao --------------- */
.profile-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    padding: 10px 15px;
    transition: all 0.3s ease;
}

.sidebar.active {
    display: block;
    
}

.sidebar.desactive {
    display: none;
}



.profile-btn img.profile-img {
    width: 50px;
    height: auto;
    border-radius: 50%;
    transition: opacity 0.3s ease, width 0.3s ease;
}

.profile-btn.hide-img img.profile-img {
    opacity: 0;
    width: 0;
}


.nav-links a:hover {
    color: #f0a500;

}


figure {
    text-align: center;
}

img {
    width: 70%;
    height: auto;
}

/* ----------------------------Conteudo About --------------------- */
body {
    display: block;
}

.sidebar,
.about {
    width: 100%;
    margin: 0;
    
    
}


.container,
main {
    position: relative;
    display: flex;
    width: 100%;
}

.container {
    background-color: rgb(180, 180, 180);


}

main {
    padding: 0;
    height: 100%;
    min-height: 100vh;

}

.sidebar {
    display: none;
    /* Lembrar que nao pode usar o fixed, pois ele passa a ignorar o fluxo do site */
    position: sticky;
    top: 90px;
    margin: 0;
    background-color: #f0f0f0;
    text-align: justify;
    border-radius: 20px;
    overflow-y: auto;
    box-sizing: border-box;

    /* importante para impedir que fique a pontinha do sidebar vazando devido a autura do nav */
    height: calc(100vh - 90px);

    
}

.about {
    scroll-margin-top: 100px;
    /* Esse scroll concerta a cagada do conteudo do main subir para o nav */

    min-height: 100vh;
    padding: 10px 20px;
    text-align: justify;
    background-color: rgb(219, 218, 219);
    margin: 0px;

    
}


article {
    margin: 15px
}

h3,
p,
span {
    margin: 10px;
}



/* ----------------------------Contato --------------------- */

footer {
    position: block;
    bottom: 0;
    z-index: 0;
    width: 100%;
    color: white;
    text-align: center;
    margin-top: 0;
    padding: 20px;
    background-color: black;
}

footer a {
    color: #f0a500;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    text-decoration: underline;
}

/*----------------------------Computadores ---------------------------------*/
@media (min-width: 800px) {

    nav,
    footer {
        width: 100%;
        gap: 10px;
    }

    .sidebar {
        padding: 20px;
        border-radius: 5px;
        width: 30%;
        min-width: 300px;
        max-width: 300px;

    }

}

/*----------------------------Aplicando estilos no Tablets ---------------------------------*/

@media (max-width: 800px) {

    nav,
    footer {
        width: 100%;
        background-color: #222;
    }

    .sidebar {

        border-radius: 5px;
        width: 30%;
        min-width: 300px;
        max-width: 300px;

    }
}

/*----------------------------Aplicando estilos no celular---------------------------------*/
@media (max-width: 600px) {
    html {
        scroll-padding-top: 151px;
    }
    body,
    .container {
        display:block;
        width: 100%;
        max-width: 100vw;
        padding: 0;

    }
    header{
        box-sizing: border-box; 
        overflow: hidden;
        margin: 0;
        width: 100vw;
    }
    nav,
    .nav-links {
        padding: 0;
        margin: 0;
        width: 100vw;
    }



    .nav-brand {
        margin: 20px 0 0 20px;
        
    }

    .nav-links {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        overflow: hidden;
        height: 60px;
        max-height: 60px;
        margin: 10px auto;
        width: 100vw;

    }



    .container {
        flex-wrap: wrap;
        margin: 0;
        padding: 0;
        scroll-margin-top:1501px;
        width: 100vw;
    }

    .sidebar
     {
        top: 0;


        display: block;
        position: relative;


        height: auto;
        min-height: 100%;
        max-width: 100%;
        min-width: 100%;


        padding: 20px;

        border-radius: 0;
        text-align: justify;
        
        
    }
    .sidebar.active {
        
    display: block;
    
}
    #profile{
        margin: 0;
    }
    .about {
        scroll-margin-top:0px
    }


}