/* -----------------------Global ----------------------- */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

html,
body {
    background-color: blue;
}

/* -----------------------Navegação ----------------------- */


header {
    position: sticky;
    /* Lembrar que nao pode usar o fixed, pois ele passa a ignorar o fluxo do site. Parecia bobeira mas um desse fixed fez todo o programa bugar */
    top: 0;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    height: 100px;
    max-height: 100px;
    z-index: 1000;
}

nav {
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #222;
    color: #fff;
    flex-wrap: wrap;
    margin-bottom: 0;


}

.nav-brand {
    display: flex;
    flex-direction: column;
    gap: 4px;

}

.nav-brand h1 {
    font-size: 1.8rem;
    margin: 0;
    font-weight: bold;
    color: #f0a500;

}

.nav-brand p {
    font-size: 1rem;
    margin: 0;
    color: #ddd;
    white-space: normal;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style: none;
}

.nav-links li a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    transition: color 0.3s;
}

/* -------------Trabalhando com a imagem do meu profile e seu botao --------------- */
.profile-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    padding: 10px 15px;
    transition: all 0.3s ease;
}

.sidebar.show {
    display: block;
}

.main-content.shifted {}

.profile-btn img.profile-img {
    width: 50px;
    height: auto;
    border-radius: 50%;
    transition: opacity 0.3s ease, width 0.3s ease;
}

.profile-btn.hide-img img.profile-img {
    opacity: 0;
    width: 0;
}


.nav-links li a:hover {
    color: #f0a500;

}


figure {
    text-align: center;
}

img {
    width: 70%;
    height: auto;
}

/* ----------------------------Conteudo About --------------------- */
body {
    display: block;
}

.sidebar,
.about {
    top: 100px;
    width: 100%;
    margin: 0;
}
.container, main{
    position:relative;
    display: flex;
    width: 100%;
}
main {
    padding: 0;
    background-color: pink;
    height: 100%;
    min-height: 100vh;

}

.sidebar {
    display: none;
    /* Lembrar que nao pode usar o fixed, pois ele passa a ignorar o fluxo do site */
    position: sticky;
    
    background-color: #f0f0f0;
    text-align: justify;
    border-radius: 5px;

    overflow-y: auto;
    box-sizing: border-box;

     /* importante para impedir que fique a pontinha do sidebar vazando devido a autura do nav */
    height: calc(100vh - 100px);


}

.about {
    /* Esse scroll concerta a cagada do conteudo do main subir para o nav */
    scroll-margin-top: 100px;
    min-height: 100vh;
    padding: 5px 20px;
    text-align: justify;
    background-color: purple;
}


article {
    margin: 15px
}

h3,
p,
span {
    margin: 10px;
}



/* ----------------------------Contato --------------------- */

footer {
    position: block;
    bottom: 0;
    z-index: 0;
    width: 100%;
    color: white;
    text-align: center;
    margin-top: 0;
    padding: 20px;
    background-color: black;
}

footer a {
    color: #f0a500;
    text-decoration: none;
    margin: 0 10px;
}

footer a:hover {
    text-decoration: underline;
}

/*----------------------------Computadores ---------------------------------*/
@media (min-width: 800px) {

    nav,
    footer {
        width: 100%;
        gap: 10px;
    }

    .sidebar {
        padding: 20px;
        border-radius: 5px;
        width: 30%;
        min-width: 300px;
        max-width: 300px;

    }

}

/*----------------------------Aplicando estilos no Tablets ---------------------------------*/

@media (max-width: 800px) {

    nav,
    footer {
        width: 100%;
        background-color: #222;
    }

    .sidebar {

        border-radius: 5px;
        width: 30%;
        min-width: 300px;
        max-width: 300px;

    }
}

/*----------------------------Aplicando estilos no celular---------------------------------*/
@media (max-width: 600px) {
    .nav-links {
        display: ;

    }

    figure {
        text-align: center;
    }

    .sidebar img {
        width: 50%;
        height: auto;
    }

    main {
        flex-direction: column;
        display: block;
        position: relative;
        margin: 0;
        padding: 0;
        align-items: center;

    }

    .sidebar {
        width: 100%;
        min-width: 0;
        max-width: auto;
        padding: 20px;

    }

    .profile-btn img.profile-img {
        display: none;
    }
}